<div class="container color-dark">
    <div class="col"> <p> Type in my field </p>
    </div>
    <div class="col"> 

      <p> What you typed in my field </p>
    </div>
    
</div> 
<div class="container color-light">
    <div class="col"> 
    </div>
   
    <div class="col"> 
        <p class="sm"> Put it where it needs to go </p>
      <form>
       <input type="text" class="txt" name="item"  placehodler="go ahead and type here">
       <input type="submit" class="btn" value="add it  ">
      </form>
    </div>
    <div class="col"> 
        <p class="contain"> Do What Needs to Happen</p>
      

        
      </div>
    
</div> 

    
